{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laborum culpa iusto temporibus dolore veritatis
      placeat! Aut ipsum temporibus consequatur facere et hic ab, rem ipsa voluptatum ratione quae at alias eius!
      Dolores
      quam dolor ab iste libero quo! A deleniti consectetur nisi tempora impedit doloremque natus iste, quasi similique
      illum aliquam ducimus ex eaque quos facere dolore voluptatum itaque accusantium minima reprehenderit? At
      provident,
      culpa recusandae nihil temporibus quidem quod, ipsam dolore porro excepturi laborum accusantium officiis! Ea quasi
      quibusdam neque perspiciatis. Quis perferendis nisi eum qui provident ipsa aliquid adipisci officiis repellat,
      incidunt quasi, quisquam assumenda magnam eos.
    </p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin/">Signin</a>
      <a class="btn btn-dark" href="/signup/">Signup</a>
    </div>

  </section>
</div>

{% endblock %}